# `min_reviews` (default nil) allows you to specify the minimum number of reviews required
min_reviews = 1
# `max_reviews` (default nil) allows you to skip some reviewers if the number of reviewers is greater than the max_reviewers
max_reviews = 2
# `unskippable_reviewers` allows you to specify reviewers that cannot be skipped via the max_reviews setting
unskippable_reviewers = ["@BakerNet"]
# `ignore` allows you to specify directories that should be ignored by the codeowners check
ignore = ["test_project"]
# `high_priority_lables` allows you to specify labels that should be considered high priority
high_priority_labels = ["P0"]
# `detailed_owners` (default false) means the codeowners will include a collapsible list of files and owners in its review comment
detailed_owners = false

# `enforcement` allows you to specify how the codeowners check should be enforced
[enforcement]
# `approval` (default false) means the github token owner will approve the PR
# this can be used alongside GitHub CODEOWNERS to enforce codeowners checks by making the github token owner the only CODEOWNER
approval = false
# `fail_check` (default true) means the codeowners GHA check will fail if the codeowners check fails
fail_check = true
