name: 'Coverage Badge'

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions: {}

jobs:
  build-test:
    name: 'Check Coverage Badge'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
    - uses: actions/checkout@v5

    - name: 'Set up Go'
      uses: actions/setup-go@v6
      with:
        go-version: '1.23'

    - name: 'Install gobadge'
      run: go install github.com/AlexBeauchemin/gobadge@v0.4.0

    - name: 'Run gobadge'
      run: ./scripts/covbadge.sh

    - name: 'Fail if not updated'
      run: git diff -U0 --exit-code
