name: 'Publish to GHCR'

on:
  release:
    types: [published]

permissions: {}

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: 'Checkout Code Repository'
        uses: actions/checkout@v6

      - name: 'Get release version'
        id: get_version
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: 'Build & Publish'
        uses: elgohr/Publish-Docker-Github-Action@4feac4d53e4e55dcc5d3e2ad0ed2e0a76028ff7a  # v5
        with:
          name: multimediallc/codeowners-plus
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io
          tags: "latest,${{ steps.get_version.outputs.RELEASE_VERSION }}"
          platforms: linux/amd64,linux/arm64
